@use postcss-clearfix;

.container {
  width: 1128px;
  margin: 0 auto;
  clear: fix;
}

.header {
  height: 60px;
  padding: 12px 0;
  border-bottom: solid 2px #f3f5f8;
}

.pull-right {
  float: right;
}