@use postcss-clearfix;

.container {
  width: 1128px;
  margin: 0 auto;
  clear: fix;
}

.header {
  height: 50px;
  padding: 6px 0;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

.pull-right {
  float: right;
}

.logo {
  margin: 9px 0;
}
