@use postcss-short;

.button {
  height: 36px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #dbdfe4;
  padding: 0 21px;
  cursor: pointer;
  outline: 0;
  font-size: 15px/20px;
  letter-spacing: -0.2px;
  color: #0070e0;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;

  &:hover {
    background-color: #fcfcfc;
    border: solid 1px #0070e0;
  }
}