@use postcss-short;
@use postcss-inline-svg;
@use postcss-center;

.company-logo {
  position: relative;
  size: 100%;
  border-radius: 4px;
  background-color: rgba(219, 223, 228, 0.5);

  & img {
    size: 100%;
    border-radius: 4px;
  }
}

.empty {
  background-image: svg-load('./logo.svg');
  size: size('./logo.svg');
  top: center;
  left: center;
}