@use postcss-short;

.container {
  width: 605px;
  margin: 0 auto;
  padding: 50px 0;
}

.list {
  border-bottom: 1px solid #dbdfe4;

  &:last-child {
    border-bottom: 0px solid transparent;
  }
}

.invite-employee-form {
  width: 600px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.invite-input {
  width: 415px;
  margin: 0 15px 0 0;
  display: inline-block;
}

.invite-button {
  size: 165px 45px;
  display: inline-block;
  vertical-align: top;
}
