@use postcss-short;

.text {
  font-size: 16px/26px;
  letter-spacing: -0.2px;
  color: #000000;
  max-width: 750px;
  white-space: pre-line;
}

.expand {
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.2px;
  color: #0070e0;
  cursor: pointer;
  margin-left: 5px; 

  &:hover {
    text-decoration: underline;
  }
}