@use postcss-center;
@use postcss-short;

.input {
  position: relative;
  font-size: 16px/22px;
  text-align: left;
  size: 100% 45px;
  border-radius: 4px;
  padding: 10px 40px 12px 12px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: normal 20px 'Open Sans';
  color: #0070e0;
}

.input-default {
  composes: input;
}

.input-invalid {
  composes: input;
}

.placeholder-invalid {
  color: #D0011B;
}

.placeholder-default {
  color: #0070e0;
}

.icon {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
}