@use postcss-short;

:root {
  --color: #222222;
  --background: #ffffff;
  --border-default: #dbdfe4;
  --placeholder-default: #9da0a4;
  --border-focused: #0070e0;
  --placeholder-focused: #ebeced;
  --invalid: #D0011B;
}

.textarea-wrap {
  border-radius: 4px;
  background-color: var(--background);
  padding: 9px 2px 5px;
  transition: border-color linear 0.2s;

  & .textarea {
    background: transparent !important;
    border: 0px !important;
    resize: none !important;
    outline: 0px !important;
    width: 100%;
    min-height: 66px;
    box-sizing: border-box;
    font-size: 16px/22px;
    letter-spacing: -0.2px;
    color: #222;
    padding: 0 10px;

    &::placeholder {
      transition: color linear 0.2s;
    }
  }
}

.default {
  composes: textarea-wrap;
  border: solid 1px var(--border-default);

  & .textarea {
    &::placeholder {
      color: var(--placeholder-default);
    }

    &:focus {
      outline: 0;
      border-color: var(--border-focused);

      &::placeholder {
        color: var(--placeholder-focused);
      }
    }
  }
}

.invalid {
  composes: textarea-wrap;
  border: solid 1px var(--invalid);

  & .textarea {
    color: var(--invalid);
    
    &::placeholder {
      color: var(--invalid);
    }

    &:focus {
      &::placeholder {
        color: var(--placeholder-focused);
      }
    }
  }
}
