@use postcss-short;

.social-input {
  position: relative;
  margin-bottom: 15px;
}

.input {
  margin-bottom: 0px;
  padding-right: 80px;
}

.remove {
  position: absolute 10px -75px * *;
  font: normal 16px/22px 'Open Sans';
  color: #d0011b !important;
  letter-spacing: -0.2px;
}

.link-inputs {
  display: block;
}

/*Add link*/
.add-input {
  display: inline-block;
  font-size: 16px/26px;
  letter-spacing: -0.2px;
  color: #0070e0;
  cursor: pointer;

  &:hover .link {
    text-decoration: underline;
  }
}

.add-icon {
  margin-right: 6px;
  vertical-align: middle;
}

.add-link {
  vertical-align: middle;
}