@use postcss-short;

.render-activity {
  position: relative;
  margin-bottom: 15px;
}

.activity-remove {
  position: absolute 6px -75px * *;
  font: normal 16px/22px 'Open Sans';
  color: #d0011b !important;
  letter-spacing: -0.2px;
}