@use postcss-short;
@use postcss-clearfix;

.company-card {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 75px 0 0 0;
}

.top {
  width: 600px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  size: 175px;
  margin-right: 30px;
}

.title {
  display: inline-block;
  position: relative;
  size: 395px 175px;
  vertical-align: top;

  & > .inner {
    position: absolute;
    top: 48%;
    transform: translateY(-50.3%);
  }
}

.name {
  font: bold 36px/40px 'Open Sans';
  letter-spacing: -.5px;
  color: #222;
}

.address {
  font: normal 20px 'Open Sans';
  letter-spacing: -.6px;
  color: #222;
  opacity: .75;
  margin-top: 3px;
}

.buttons {
  margin-top: 7px;
}

.transparent-button {
  background-color: transparent;
  border: 1px solid #dbdfe4;
  color: #0070e0;
  font: normal 20px 'Open Sans';
  size: 200px 48px;
  padding: 1px 0 5px;

  &:hover {
    background-color: transparent;
    color: #0070e0;
    border: 1px solid #0070e0;
  }
}

.bookmark {
  background-color: transparent;
  height: 48px;
  vertical-align: top;
  cursor: pointer;
  position: relative 3px * * 3px;

  & > .icon:hover {
    fill: #0070e0
  }
}


.bottom {
  width: 800px;
  margin: 26px auto 0;
  clear: fix;
}

.bottom-small {
  composes: bottom;
  width: 618px;
}

.about {
  width: 500px;
  margin-right: 42px;
  float: left;

  & > p {
    font: normal 18px/27px 'Open Sans';
    margin: 0 0 .5em 0;
  }
}

.info {
  width: 250px;
  float: left;
}

.item {
  font: normal 18px 'Open Sans';
  letter-spacing: -.2px;
  color: #222;
  margin-bottom: -3px;
}

.item-empty {
  composes: item;
  color: #c2c8d0;
}

.icon {
  size: 36px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 9px;
}

.socials {
  margin: 15px -7px 0;

  & a {
    margin: 0 12px;
  }
}

.empty-value {
  font-size: 15px;
  color: #9da0a4;
}