@use postcss-short;

/* Option */
.option {
  font: normal 19px/22px 'SF UI Text';
  color: #222;
  padding: 0 30px;
  background: #fff;
  cursor: pointer;

  &:hover {
    background: #fbfbfb;
  }
}

.option-value {
  padding: 14px 0;
  border-bottom: 1px solid #f3f5f8;
}


/* Filter options*/
.filter-options {}

.filter {
  padding: 0 30px;
}

.filter-input {
  margin-bottom: 12px;
}

.options {}


/* CountrySelect */
.select {}

.title {
  padding: 0 30px;
  margin: 0 0 24px;
}

.select-popup {
  padding-top: 30px;
  padding-bottom: 5px;
}

.popup-title {
  font-size: 24px/33px;
  letter-spacing: -0.2px;
  color: #000;
}