@use postcss-short;
@use postcss-center;
@use postcss-clearfix;
@use postcss-inline-svg;


/*Company List*/

.company-list-wrap {
  margin-bottom: 20px;
}

.company-list {
  max-width: 360px;
  margin: * auto;
  border: solid 1px #dbdfe4;
  border-radius: 4px;
  overflow: hidden;
}

.company-list-title {
  font: normal 36px/36px 'Open Sans';
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
}

/*Company Item*/
.company-item {
  position: relative;
  clear: fix;
  padding: 16px;
  border-bottom: solid 1px #dbdfe4;
  background: #fff;
  transition: background-color linear 0.2s;

  &:hover {
    background: #fcfcfc;
    cursor: pointer;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.company-logo, .company-info {
  float: left;
}

.icon {
  position: absolute;
  top: center;
  right: 21px;
}

.company-logo {
  size: 48px;
  border-radius: 4px;
  overflow: hidden;
}

.company-info {
  padding-left: 17px;
}

.company-name {
  font: 600 16px/16px 'Open Sans';
  margin: 2px * 1px;
}

.company-type {
  font: 400 10px/10px 'Open Sans';
  color: #9da0a4;
  margin-bottom: 4px;
  margin-top: 3px;
}

.company-country {
  font: 400 13px/13px 'Open Sans';
  color: #9da0a4;
}

.default {
  display: inline-block;
  size: 48px;
  background: #f4f4f4 svg-load('svg/default.svg') center no-repeat;
}