@use postcss-inline-svg;
@use postcss-short;


.image-upload {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.logo {
  border-radius: 4px;
  background-color: #ef3124;
}

.overlay {
  position: absolute 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.camera {
  position: absolute 0 0 0 0;
  margin: auto;
  background: transparent svg-load('svg/camera.svg') center no-repeat;
  size: size('svg/camera.svg');
  transition: transform linear 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

.camera-center {
  composes: camera;
}

.camera-left-top {
  composes: camera;
  position: absolute 20px auto auto 20px;
}

.overlay:hover {
  .camera {
    transform: scale(1.2);
  }
}

.input-hidden {
  visibility: hidden;
}