@use postcss-inline-svg;
@use postcss-short;


.image-upload {
  position: relative;
  size: 165px;
  border-radius: 4px;
  overflow: hidden;
}

.logo {
  size: 165px;
  border-radius: 4px;
  background-color: #ef3124;
}

.overlay {
  position: absolute 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.camera {
  cursor: pointer;
  position: absolute 0 0 0 0;
  background: transparent svg-load('svg/camera.svg') center no-repeat;
  transition: transform linear 0.2s;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}

.input-hidden {
  visibility: hidden;
}