@use postcss-center;

.password-input-wrap {
  position: relative;
  margin-bottom: 15px;
}

.password-input {
  margin-bottom: 0px !important;
}

.password-icon {
  cursor: pointer;
  top: center;
  right: 13px;
}
