@use postcss-short;
@use postcss-clearfix;

.company-profile-edit {
  position: relative;
  padding: 60px * 20px;
  clear: fix;
}  

.company-logo {
  float: left;
}

.company-name {
  height: 80px;
  font: normal 40px/48px 'Open Sans';
  margin-bottom: 30px;
}

.company-info {
  float: left;
  padding-left: 30px;
  width: 555px;
}

.company-controls {
  position: absolute 60px 0px * *;
  text-align: center;
  width: 165px;
}

.submit-btn {
  color: #fff;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #cdcecf;
  outline: 0;
  border: 0;
  cursor: pointer;
  margin-bottom: 13px;
}

.cancel-btn {
  font-size: 16px/26px;
}

.region {
  clear: fix;

  & > div {
    float: left;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
}

.section {
  margin-bottom: 35px;

  & > h4 {
    margin-bottom: 10px;
  }
}


/**
* Render activity type
*/
.activity-list {}

.render-activity {
  position: relative
}

.activity-remove {
  position: absolute 10px -75px * *;
  font: normal 16px/22px 'Open Sans';
  color: #d0011b !important;
  letter-spacing: -0.2px;
}

.error {
  position: absolute 0px * * 100%;
  width: 210px;
  padding-left: 15px;
}
